

.footer {
  width: 100%;
  background-color: #0a22f4;
  display: flex;
  justify-content: center;
  color: #ffffff;
}

.map iframe {
  border-radius: 15px;
}

.footer_container {
  width: calc(100% - 480px);
  margin-top: 100px;
}

.contact {
  width: 463px;
}

.contact > div {
  margin-top: 30px;
}

.contact_header {
  font-size: 32px;
}

.contact_text {
  font-size: 16px;
}

.contact_wrapper {
  width: 612px;
}

.num_mail > div {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.num_mail img {
  width: 25px;
}
  *{  margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    height: 388px;
    background-color: #0020F4;
}
.navigation {
    display: inline-block;
    vertical-align: middle;
    margin-left: 50px;
}
li {
    display: inline-block;
    margin-right: 20px;
    margin-top: 50px; 
}
a {
    color: white;
    text-decoration: none;  
}
.icon {
    margin-left: 50px;
    vertical-align: middle;
    display: inline-block;
}
.button {
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    display: inline-block;
    border: solid white;
}
ul {
    display: inline-block;
}
.header-container {
    text-align: center;
    margin: 0 auto;
.text-container {
    margin: 0 auto;
}
.text-section {
    margin-left: 350px;
    width: 900px;
    height: 877px;

}
.text-section p {
    margin-top: 10px;
    color: #171717;
    letter-spacing: 0px;
    font: normal normal normal 16px/26px HelveticaNeueLTGEOW82-55Rm;
    width: 600px;
    height: 177px;
}
.more-info-button button {
    color: white;
    font-size: 15px;
    margin-left: 500px;
    margin-bottom: 30px;
    width: 241px;
    height: 45px;
    border-radius: 28px;
    background-color: blue;
}
